/* TeamPage.css */
/* TeamPage.css */
.video-background {
    position: fixed; /* Fixes the video to the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area without distortion */
    z-index: -1; /* Places the video behind other elements */
  }

  .custom-height {
    height: 60vh; /* Total height for the section */
    padding-top: 350px; /* Increase the top padding to move content down */
    padding-bottom: 150px; /* Decrease the bottom padding */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards; /* Change duration as needed */
}
  
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.scroll-fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.hidden {
    display: none; /* Prevents the section from showing until it fades in */
}

.card {
    position: relative;
    width: 100%;
    height: auto;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}

.card-content {
    position: absolute; /* Ensure it sits at the bottom of the card */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    background: rgba(255, 255, 255, 0.8); /* Optional: add a semi-transparent background for text visibility */
    padding: 10px; /* Space around the text */
    text-align: center; /* Center align text */
}

/* Additional styles to ensure proper spacing and width */
p {
    max-width: 800px; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the paragraph */
}

section {
    position: relative; /* Ensure sections have relative positioning for overlays */
  }
  
  section h1, section h2, section p {
    position: relative; /* To stack text over video */
    z-index: 1; /* Ensures text is above video */
  }

/* Media query for mobile devices */
@media (max-width: 320px) { /* You can adjust the max-width as needed */
    .team-paragraph{
        margin-bottom: 200px;
        font-size: 0.85rem;
    }
    .team-title{
        padding-top: 50px;
        font-size: 1.5rem;
    }
}

@media (width: 375px){
    .team-paragraph{
        margin-bottom: 50px;
    }
}